:root{
  --r: #e3350d;
  --o: #ee6b2f;
  --y: #e6bc2f;
  --g: #4dad58;
  --lb: #30a7d7;
  --b: #1847d7;
  --tb: #010c2e;
  --lg: #f5f5f5;
  --g: #919191;
  --v: #855ac9;

}
body{
  background-color: var(--tb);
  color: var(--lg);
}
button,button:hover{
  border: none;
  outline: none;
}